@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,500&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

cite {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --neutral-950: #000000;
  --neutral-50: #fafafa;
  --neutral-0: #ffffff;
  --teal-950: #002529;
  --teal-900: #012f34;
  --teal-850: #004047;
  --teal-800: #014e56;
  --teal-700: #2c6269;
  --teal-400: #79c8c7;
  --rose-500: #ff7f7f;
  --cyan-100: #c4fffe;
  --primary-color: var(--teal-800);
  --primary-color-dark: var(--teal-850);
  --primary-color-darker: var(--teal-900);
  --primary-color-very-dark: var(--teal-950);
  --accent-color: var(--rose-500);
  --highlight-color: var(--cyan-100);
  --bg-color: var(--primary-color);
  --text-color: var(--neutral-0);
  --border-color: var(--neutral-0);
  --container-max-width: 70rem;
  --container-width-mobile: 90%;
  --container-width: 80%;
  --section-spacing: clamp(3.75rem, 2.8697rem + 3.7559vw, 6.25rem);
  --space--xxs-025: 0.125rem;
  --space-xs-100: 0.5rem;
  --space-125: 0.625rem;
  --space-150: 0.75rem;
  --space-sm-200: 1rem;
  --space-md-300: 1.5rem;
  --space-375: 30px;
  --space-400: 2rem;
  --space-lg-500: 2.5rem;
  --space-xl-600: 3rem;
  --space-xxl-700: 3.5rem;
  --space-xxxl-800: 4rem;
  --space-xxxxl-1000: 5rem;
}

.btn {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 100vw;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.55;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}
.btn--outline {
  border-color: var(--primary-color-darker);
  color: var(--primary-color-darker);
}
.btn--outline:hover {
  background-color: var(--primary-color-darker);
  color: var(--text-color);
}
.btn--solid {
  background-color: var(--neutral-0);
  color: var(--primary-color-very-dark);
}

.skip-link {
  height: 1px;
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.skip-link:focus,
.skip-link:active {
  background: var(--primary-color-very-dark);
  border-color: var(--highlight-color);
  border-radius: 4px;
  color: var(--text-color);
  height: auto;
  left: 1rem; /* bring into view on focus */
  outline-color: var(--accent-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  top: 1rem;
  width: auto;
  z-index: 1000;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width-mobile);
}

@media (min-width: 48rem) {
  .container {
    width: var(--container-width);
  }
}
.accent-text {
  color: var(--accent-color);
}

.highlight-text {
  color: var(--highlight-color);
}

.darker-bg {
  background-color: var(--primary-color-darker);
}

.bg-dark {
  background-color: var(--primary-color-dark);
}

.bg-very-dark {
  background-color: var(--primary-color-very-dark);
}

.bg-accent {
  background-color: var(--accent-color);
}

.section-title {
  margin-bottom: 2rem;
}

.accent-bar {
  background: var(--accent-color);
  display: block;
  height: 4px;
  margin-bottom: var(--space-400);
  width: 50px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Livvic, sans-serif;
  letter-spacing: 0px;
  position: relative;
  z-index: 1;
}

body:has(header .main-nav.visible)::after {
  content: "";
  background-color: var(--neutral-950);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  right: 0;
  z-index: 10;
}

h1 {
  font-size: 40px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
}

h2 {
  font-size: 32px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-size: clamp(2rem, 0.8571rem + 2.381vw, 3rem);
}

h3 {
  font-size: 18px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 155%;
  color: var(--highlight-color);
}

section {
  padding: var(--section-spacing) 0;
}

blockquote p {
  font-size: 15px;
  font-family: Livvic, sans-serif;
  font-weight: 600;
  line-height: 186%;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
  position: relative;
  z-index: 900;
}

.nav__item {
  position: relative;
}
.nav__item a {
  text-decoration: none;
  color: var(--text-muted);
}
.nav__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--accent-color);
  bottom: -4px;
  left: 0;
  transition: width 0.3s;
}
.nav__item:hover::after {
  width: 100%;
}

header {
  position: relative;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  max-height: 2.5rem;
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .logo svg {
  height: 2rem;
  width: auto;
}
header .nav-toggle {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  z-index: 1000;
}
header .nav-toggle svg.close {
  visibility: hidden;
  height: 0;
  position: absolute;
}
header:has(.main-nav.visible) svg.close {
  visibility: visible;
  height: auto;
  position: relative;
}
header:has(.main-nav.visible) svg.hamburger {
  visibility: hidden;
  height: 0;
  position: absolute;
}
header .navbar {
  position: relative;
  padding: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem) 0;
}
header .navbar__contact-btn {
  visibility: hidden;
  height: 0;
  position: absolute;
}
header .navbar:has(.main-nav.visible) .navbar__contact-btn {
  visibility: visible;
  height: auto;
  position: static;
}
header .main-nav {
  visibility: hidden;
  position: absolute;
  font-size: 1.125rem;
}
header .main-nav__image {
  position: absolute;
  bottom: 0;
  right: -100px;
  display: none;
}
@media (max-width: 767px) {
  header .main-nav {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }
}
header .main-nav.visible {
  background-color: var(--bg-color);
  top: 0;
  right: -5vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  padding: 6rem 1.5rem 1.5rem;
  width: 75vw;
  transform: translateX(0);
  visibility: visible;
  z-index: 800;
}
header .main-nav.visible .main-nav__image {
  display: flex;
  z-index: 801;
}
header .main-nav.visible .nav__list {
  flex-direction: column;
}
header .main-nav.visible .nav__list .nav__item {
  width: fit-content;
}

.hero {
  position: relative;
}
.hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: clamp(var(--space-sm-200), 0.6479rem + 1.5023vw, var(--space-400));
  text-align: center;
}
.hero__text {
  font-size: 15px;
  font-family: Livvic, sans-serif;
  font-weight: 600;
  line-height: 186%;
}
.hero__image {
  display: flex;
  transform: translateY(var(--section-spacing));
  width: 100%;
}

.hero--about {
  overflow: hidden;
  padding-bottom: calc(1.3 * var(--section-spacing));
  position: relative;
}
.hero--about .accent-bar {
  display: none;
}
.hero--about__image {
  position: absolute;
  bottom: -105px;
  right: -100px;
}

.features {
  position: relative;
}
.features__image {
  position: absolute;
  top: 0;
  right: -100px;
  width: 200px;
}
.features__title {
  max-width: 240px;
}
.features__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.features__item,
.features .item__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.testimonials {
  position: relative;
  padding-block: 150px;
}
.testimonials__image--top {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
}
.testimonials__image--bottom {
  bottom: 0;
  display: flex;
  position: absolute;
  right: 0;
}
.testimonials__title {
  text-align: center;
  margin-bottom: 5.25rem;
}
.testimonials__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5.25rem;
  text-align: center;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs-100);
}
.testimonials__item blockquote {
  position: relative;
}
.testimonials__item blockquote svg {
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 33px);
  top: -36px;
  width: 100%;
  z-index: -1;
}
.testimonials__author {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm-200);
}
.testimonials__author .author__title {
  font-size: 13px;
  font-family: Livvic, sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: 140%;
}
.testimonials__author .author__image {
  border-radius: 100vw;
  overflow: hidden;
  width: 6rem;
  border: 2px solid var(--highlight-color);
}
.testimonials__author__text {
  display: flex;
  flex-direction: column;
  gap: var(--space--xxs-025);
}

.cta {
  overflow: hidden;
  position: relative;
  padding: 80px 0;
}
.cta__container {
  align-items: center;
  color: var(--primary-color-darker);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}
.cta__title {
  font-size: 32px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
  max-width: 75%;
}
.cta__image {
  bottom: -22px;
  display: flex;
  left: 0;
  position: absolute;
}

.clients {
  overflow: hidden;
  position: relative;
}
.clients__title {
  text-align: center;
  margin-bottom: 2em;
}
.clients__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 3.9808rem - 2.0513vw, 3.5rem);
}
.clients__list li img {
  height: 1.5rem;
  width: auto;
}
.clients__list li:last-child img {
  height: 2.5rem;
}
.clients__image {
  position: absolute;
  top: -100px;
  left: -100px;
}

.contact {
  overflow: hidden;
  position: relative;
}
.contact__title, .contact__subtitle {
  text-align: center;
}
.contact__subtitle {
  font-size: 32px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 2em;
}
.contact__features {
  margin-bottom: var(--space-md-300);
}
.contact__features .feature {
  align-items: center;
  display: flex;
  gap: var(--space-md-300);
}
.contact {
  /* General Form Styles */
}
.contact form {
  display: grid;
  grid-template-columns: 1fr;
}
.contact button,
.contact input,
.contact textarea {
  font: inherit;
  width: 100%;
  cursor: pointer;
}
.contact input,
.contact textarea {
  background: none;
  border: none;
  border-bottom: 1px solid var(--border-color);
  font-size: 1.125rem;
  padding: 0.66667em 1.33334em;
  height: 3rem;
  caret-color: var(--text-color);
  color: inherit;
  font: inherit;
}
.contact input:focus-visible,
.contact textarea:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--highlight-color);
}
.contact input:hover,
.contact textarea:hover {
  outline: none;
  border-color: var(--highlight-color);
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: inherit;
  font: inherit;
  opacity: 0.6;
}
.contact textarea {
  line-height: 1.2;
  height: 5em; /* 3 line heights + vertical padding */
  resize: vertical;
}
.contact .form-group {
  margin-bottom: 1.5rem;
}
.contact {
  /* Error state */
}
.contact .error-message {
  padding-top: 0.25rem;
  color: var(--rose-500);
  display: none;
}
.contact .form-group:has(input:user-invalid) input,
.contact .form-group:has(input:user-invalid) textarea,
.contact .form-group:has(textarea:user-invalid) input,
.contact .form-group:has(textarea:user-invalid) textarea {
  border-color: var(--rose-500);
  color: var(--rose-500);
}
.contact .form-group:has(input:user-invalid) .error-message,
.contact .form-group:has(textarea:user-invalid) .error-message {
  display: block;
}
.contact .btn {
  justify-self: start;
  width: fit-content;
}
.contact__image {
  position: absolute;
}
.contact__image--top {
  display: none;
}
.contact__image--bottom {
  bottom: -125px;
  right: -100px;
}

.directors {
  overflow: hidden;
  padding-bottom: calc(50px + var(--section-spacing));
  position: relative;
}
.directors__title {
  margin-bottom: clamp(var(--space-xl-600), 1.8603rem + 2.3774vw, var(--space-xxl-700));
  text-align: center;
}
.directors__grid {
  display: grid;
  gap: var(--space-xl-600);
}
.directors .director-card {
  min-height: 253px;
  position: relative;
  perspective: 1000px;
}
.directors .director-card__inner {
  background-clip: padding-box;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.directors .director-card .front,
.directors .director-card .back {
  padding: var(--space-400) var(--space-150);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.directors .director-card .back {
  padding: var(--space-400);
  text-align: center;
  transform: rotateY(180deg);
}
.directors .director-card .back .director-card__name {
  margin-bottom: var(--space-xs-100);
}
.directors .director-card__avatar {
  height: 96px;
  width: auto;
  border: 2px solid var(--teal-400);
  border-radius: 100vw;
  margin-bottom: var(--space-sm-200);
}
.directors .director-card__title {
  font-size: 15px;
  font-family: Livvic, sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: 166%;
}
.directors .director-card__btn {
  align-items: center;
  background: var(--accent-color);
  border: none;
  border-radius: 100vw;
  bottom: -28px;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: center;
  left: calc(50% - 28px);
  position: absolute;
  transition: background-color 1s cubic-bezier(0.4, 0.2, 0.2, 1), transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  width: 56px;
}
.directors .director-card__btn:hover {
  background-color: var(--highlight-color);
}
.directors .director-card__socials {
  display: flex;
  gap: var(--space-sm-200);
  margin-top: var(--space-sm-200);
}
.directors .director-card.flipped .director-card__inner {
  transform: rotateY(180deg);
}
.directors .director-card.flipped .director-card__btn {
  background: var(--highlight-color);
  transform: rotate(-45deg);
}
.directors__image {
  display: flex;
  position: absolute;
}
.directors__image--top {
  top: -100px;
  left: -100px;
}
.directors__image--bottom {
  bottom: 0;
  right: 0;
}

footer {
  padding-block: calc(0.5 * var(--section-spacing));
  text-align: center;
}
footer .nav__list {
  display: flex;
  flex-direction: row;
  gap: var(--space-lg-500);
  justify-content: center;
}
footer .footer__container {
  display: grid;
  gap: var(--space-md-300);
  justify-items: center;
}
footer .footer__container p {
  font-size: 15px;
  font-family: Livvic, sans-serif;
  font-weight: 600;
  line-height: 186%;
  opacity: 0.6;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: var(--space-md-300);
}
footer .footer__contact {
  display: flex;
  flex-direction: column;
}
footer .footer__contact a {
  color: inherit;
  text-decoration: none;
}
footer .footer__socials {
  display: flex;
  gap: var(--space-sm-200);
  margin: 0 auto;
}

.footer__socials__item,
.director-card__socials__item {
  transition: transform 0.3s ease-in-out;
}
.footer__socials__item:hover,
.director-card__socials__item:hover {
  transform: translateY(-4px);
}
.footer__socials__item:hover svg *,
.director-card__socials__item:hover svg * {
  fill: var(--accent-color);
}

@media (min-width: 48rem) {
  h1 {
    font-size: 64px;
    font-family: Livvic, sans-serif;
    font-weight: 700;
    line-height: 115%;
  }
  header .nav-toggle {
    height: 0;
    visibility: hidden;
  }
  header .navbar {
    font-size: 1rem;
    gap: clamp(var(--space-xl-600), 0.7143rem + 4.7619vw, var(--space-xxxxl-1000));
    justify-content: flex-start;
  }
  header .navbar__contact-btn {
    visibility: visible;
    height: auto;
    position: static;
  }
  header .main-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);
    position: relative;
  }
  header .main-nav .nav__list {
    visibility: visible;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-right: auto;
  }
  header .nav__item a {
    color: var(--text-color);
  }
  .hero__text {
    max-width: 573px;
  }
  .hero__image {
    margin-left: auto;
    max-width: 358px;
  }
  .hero--about__image {
    bottom: 0;
  }
  .hero--about .hero__text {
    max-width: 50ch;
  }
  .features__item {
    flex-direction: row;
  }
  .features .item__content {
    text-align: start;
  }
  .features__title {
    max-width: 445px;
  }
  .features__image {
    max-width: 200px;
  }
  .testimonials__title {
    margin-inline: auto;
    max-width: 75vw;
  }
  .cta__container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 917px;
  }
  .clients__title {
    margin-bottom: 1em;
  }
  .clients__list {
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);
  }
  .clients__list li img {
    height: 1rem;
  }
  .clients__list li:last-child img {
    height: 1.75rem;
  }
  .clients__image {
    left: 0;
  }
  .directors__grid {
    column-gap: clamp(var(--space-150), -0.8036rem + 2.9762vw, var(--space-lg-500));
    grid-template-columns: repeat(2, 1fr);
  }
  .directors__image--top {
    top: 0;
  }
  .contact__container {
    width: 70%;
  }
  .contact__image--top {
    display: block;
    left: -100px;
  }
  .contact__image--bottom {
    bottom: 0;
  }
  footer .footer__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  footer .footer__container .footer-nav,
  footer .footer__container .footer__socials {
    justify-self: start;
  }
  footer .footer__container .nav__list {
    justify-content: start;
  }
  footer .footer__container .footer__contact,
  footer .footer__container .footer__copyright {
    justify-self: end;
    text-align: end;
  }
  footer .footer__container .footer__socials {
    margin: 0;
  }
}
@media (min-width: 64rem) {
  header .logo svg {
    height: 2.5rem;
  }
  .hero__title {
    font-size: 100px;
    font-family: Livvic, sans-serif;
    font-weight: 700;
    line-height: 100%;
  }
  .hero__content {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
  .hero__text {
    font-size: 18px;
    font-family: Livvic, sans-serif;
    font-weight: 600;
    line-height: 155%;
    max-width: 445px;
  }
  .hero--about .hero__title {
    font-size: 64px;
    font-family: Livvic, sans-serif;
    font-weight: 700;
    line-height: 115%;
  }
  .hero--about .hero__text {
    max-width: 67ch;
  }
  .features__container {
    display: flex;
    gap: 7.75rem;
  }
  .features__image {
    bottom: 0;
    top: auto;
  }
  .features ul[class] {
    margin-top: var(--space-400);
  }
  .hero--about .accent-bar {
    display: block;
  }
  .testimonials__title {
    max-width: 932px;
  }
  .testimonials__list {
    flex-direction: row;
  }
  .cta__image {
    bottom: 0;
  }
  .clients__list li img {
    height: 2.25rem;
  }
  .clients__list li:last-child img {
    height: 2.75rem;
  }
  .clients__image {
    top: 0;
  }
  .directors__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact__container {
    display: flex;
    justify-content: space-between;
  }
  .contact__title, .contact__subtitle {
    text-align: start;
  }
  .contact__subtitle {
    margin-bottom: 0.5em;
  }
  .contact form {
    max-width: 500px;
    width: 100%;
  }
  footer .footer__container {
    align-items: center;
    column-gap: var(--space-xxxxl-1000);
    grid-template-columns: auto auto 1fr;
  }
  footer .footer__container .footer__socials,
  footer .footer__container .footer__copyright {
    grid-column: 3;
    justify-self: end;
  }
  footer .footer__container .footer-nav,
  footer .footer__container .footer__contact {
    grid-row: 1/span 2;
    text-align: start;
  }
}