@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,500&display=swap");

@mixin textpreset1 {
  font-size: 100px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
}
@mixin textpreset2 {
  font-size: 64px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 115%;
}
@mixin textpreset3 {
  font-size: 48px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
}
@mixin textpreset4 {
  font-size: 40px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
}
@mixin textpreset5 {
  font-size: 32px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 100%;
}
@mixin textpreset6bold {
  font-size: 18px;
  font-family: Livvic, sans-serif;
  font-weight: 700;
  line-height: 155%;
}
@mixin textpreset6semibold {
  font-size: 18px;
  font-family: Livvic, sans-serif;
  font-weight: 600;
  line-height: 155%;
}
@mixin textpreset7semibold {
  font-size: 15px;
  font-family: Livvic, sans-serif;
  font-weight: 600;
  line-height: 186%;
}
@mixin textpreset7mediumitalic {
  font-size: 15px;
  font-family: Livvic, sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: 166%;
}
@mixin textpreset8mediumitalic {
  font-size: 13px;
  font-family: Livvic, sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: 140%;
}
