@use "fonts";
@use "reset";
@use "sass:map";

:root {
  // COLORS
  --neautral-950: #000000;
  --neutral-50: #fafafa;
  --neutral-0: #ffffff;

  --teal-950: #002529;
  --teal-900: #012f34;
  --teal-850: #004047;
  --teal-800: #014e56;
  --teal-700: #2c6269;
  --teal-400: #79c8c7;

  --rose-500: #ff7f7f;
  --cyan-100: #c4fffe;

  --primary-color: var(--teal-800);
  --primary-color-dark: var(--teal-850);
  --primary-color-darker: var(--teal-900);
  --primary-color-very-dark: var(--teal-950);

  --accent-color: var(--rose-500);
  --highlight-color: var(--cyan-100);

  --bg-color: var(--primary-color);

  --text-color: var(--neutral-0);

  --border-color: var(--neutral-0);

  // CONTAINER
  --container-max-width: 70rem;
  --container-width: 90%;

  // Spacing
  --section-spacing: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
}

//****** COMPONENTS ****** //
.btn {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 100vw;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.55;
  padding: 0.5em 2em;
  text-decoration: none;

  &:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
  }

  &--outline {
    border-color: var(--primary-color-darker);
    color: var(--primary-color-darker);

    &:hover {
      background-color: var(--primary-color-darker);
      color: var(--text-color);
    }
  }
}

//****** UTILITIES ****** //
.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.accent-text {
  color: var(--accent-color);
}

.highlight-text {
  color: var(--highlight-color);
}

.darker-bg {
  background-color: var(--primary-color-darker);
}

.bg-dark {
  background-color: var(--primary-color-dark);
}

.bg-accent{
  background-color: var(--accent-color);
}

.section-title {
  margin-bottom: 2rem;
}

//****** STYLES ****** //
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Livvic, sans-serif;
  letter-spacing: 0px;
}

section {
  padding: var(--section-spacing) 0;
}

header {
  position: relative;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-height: 2.5rem;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      height: 2rem;
      width: auto;
    }
  }

  .nav-toggle {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    z-index: 1000;

    svg.close {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  }

  &:has(.main-nav.visible) {
    svg.close {
      visibility: visible;
      height: auto;
      position: relative;
    }
    svg.hamburger {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  }

  .navbar {
    position: relative;
    padding: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem) 0;

    &__contact-btn {
      visibility: hidden;
      height: 0;
      position: absolute;
    }

    &:has(.main-nav.visible) .navbar__contact-btn{
      visibility: visible;
      height: auto;
      position: static;
    }
  }

  .main-nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1.125rem;
  }

  .main-nav.visible {
    align-items: center;
    background-color: var(--bg-color);
    top: 0;
    right: -5vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    padding: 2rem 1.5rem 1.5rem;
    width: 75vw;
    visibility: visible;
    z-index: 800;

    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      position: relative;
      text-align: center;
      z-index: 900;
    }
  }



  .nav__item {
    position: relative;
    a {
      text-decoration: none;
      color: var(--text-muted);
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: var(--accent-color);
      bottom: -4px;
      left: 0;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

footer {
  text-align: center;
}

.hero {
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__title {
    @include fonts.textpreset4;
    font-size: clamp(2.5rem, 1.1796rem + 5.6338vw, 6.25rem);
  }

  &__content {
    @include fonts.textpreset7semibold;
  }
}

.features {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item,
  .item__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

.testimonials {
  &__list {
   align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  &__author {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    .author {
      &__title {
        font-style: italic;
      }
      &__image {
        border-radius: 100vw;
        overflow: hidden;
        width: 6rem;
        border: 2px solid var(--highlight-color);
      }
    }
  }
}

.cta {
  &__container {
    align-items: center;
    color: var(--primary-color-darker);
    display: flex;  
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    min-height: 18rem;
    text-align: center;
  }

  &__title {
    @include fonts.textpreset5;
    max-width: 75%;
  }
}

.clients {
  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 3.9808rem + -2.0513vw, 3.5rem);

    li img {
      height: 1.5rem;
      width: auto;
    }

    li:last-child img {
      height: 2.5rem;
    }
  }
}

.contact {
  /* General Form Styles */
  form {
    display: grid;
    grid-template-columns: 1fr;
  }

  button,
  input,
  textarea {
    font: inherit;
    width: 100%;
    cursor: pointer;
  }

  input,
  textarea {
    background: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.125rem;
    padding: 0.66667em 1.33334em;
    height: 3rem;
    caret-color: var(--text-color);
    color: inherit;
    font: inherit;

    &:focus-visible {
      outline: none;
      border-bottom: 2px solid var(--highlight-color);
    }

    &:hover {
      outline: none;
      border-color: var(--highlight-color);
    }

    &::placeholder {
      color: inherit;
      font: inherit;
      opacity: 0.6;
    }
  }

  textarea {
    height: calc(3lh + 1.4em); /* 3 line heights + vertical padding */
    resize: block;
  }

  // Specific styling
  .form-group {
    margin-bottom: 1.5rem;
  }

  /* Error state */
  .error-message {
    padding-top: 0.25rem;
    color: var(--rose-500);
    display: none;
  }

  .form-group:has(input:user-invalid),
  .form-group:has(textarea:user-invalid) {
    input,
    textarea {
      border-color: var(--rose-500);
      color: var(--rose-500);
    }

    .error-message {
      display: block;
    }
  }
}

@media (min-width: 48rem) {
  header {
    .nav-toggle {
      height: 0;
      visibility: hidden;
    }

    .navbar {
      font-size: 1rem;

      &__contact-btn {
        visibility: visible;
        height: auto;
        position: static;
      }
    }

    .main-nav {
      display: flex;
      flex-direction: row;
      gap: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);
    }

    .main-nav .nav__list {
      visibility: visible;
      height: auto;
      position: relative;
      display: flex;
      align-items: center;
      gap: 2.5rem;
      margin-right: auto;
    }

    .nav__item {
      a {
        color: var(--text-color);
      }
    }
  }

  .clients {
    &__list {
      flex-direction: row;
      justify-content: space-between;
      gap: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);

      li img {
        height: 1rem;
      }

      li:last-child img {
        height: 1.75rem;
      }
    }
  }
}

@media (min-width: 64rem) {
  header {
    .logo svg {
      height: 2.5rem;
    }
  }

  .hero {
    &__content {
      @include fonts.textpreset6semibold;
    }
  }

  .clients {
    &__list {
      li img {
        height: 2.25rem;
      }

      li:last-child img {
        height: 2.75rem;
      }
    }
  }
}
