@use "fonts";
@use "reset";
@use "sass:map";

:root {
  // COLORS
  --neutral-950: #000000;
  --neutral-50: #fafafa;
  --neutral-0: #ffffff;

  --teal-950: #002529;
  --teal-900: #012f34;
  --teal-850: #004047;
  --teal-800: #014e56;
  --teal-700: #2c6269;
  --teal-400: #79c8c7;

  --rose-500: #ff7f7f;
  --cyan-100: #c4fffe;

  --primary-color: var(--teal-800);
  --primary-color-dark: var(--teal-850);
  --primary-color-darker: var(--teal-900);
  --primary-color-very-dark: var(--teal-950);

  --accent-color: var(--rose-500);
  --highlight-color: var(--cyan-100);

  --bg-color: var(--primary-color);

  --text-color: var(--neutral-0);

  --border-color: var(--neutral-0);

  // CONTAINER
  --container-max-width: 70rem;
  --container-width-mobile: 90%;
  --container-width: 80%;

  // Spacing
  --section-spacing: clamp(3.75rem, 2.8697rem + 3.7559vw, 6.25rem);

  --space--xxs-025: 0.125rem;
  --space-xs-100: 0.5rem;
  --space-125: 0.625rem;
  --space-150: 0.75rem;
  --space-sm-200: 1rem;
  --space-md-300: 1.5rem;
  --space-375: 30px;
  --space-400: 2rem;
  --space-lg-500: 2.5rem;
  --space-xl-600: 3rem;
  --space-xxl-700: 3.5rem;
  --space-xxxl-800: 4rem;
  --space-xxxxl-1000: 5rem;
}

//****** COMPONENTS ****** //
.btn {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 100vw;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.55;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
  }

  &--outline {
    border-color: var(--primary-color-darker);
    color: var(--primary-color-darker);

    &:hover {
      background-color: var(--primary-color-darker);
      color: var(--text-color);
    }
  }
}

//****** UTILITIES ****** //
.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width-mobile);
}

@media (min-width: 48rem) {
  .container {
    width: var(--container-width);
  }
}

.accent-text {
  color: var(--accent-color);
}

.highlight-text {
  color: var(--highlight-color);
}

.darker-bg {
  background-color: var(--primary-color-darker);
}

.bg-dark {
  background-color: var(--primary-color-dark);
}

.bg-accent {
  background-color: var(--accent-color);
}

.section-title {
  margin-bottom: 2rem;
}

.accent-bar {
  background: var(--accent-color);
  display: block;
  height: 4px;
  margin-bottom: var(--space-400);
  width: 50px;
}

//****** STYLES ****** //
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Livvic, sans-serif;
  letter-spacing: 0px;
  position: relative;
  z-index: 1;
}

body:has(header .main-nav.visible)::after {
  content: "";

  background-color: var(--neutral-950);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  right: 0;
  z-index: 10;
}

h2 {
  @include fonts.textpreset5;
  font-size: clamp(2rem, 0.8571rem + 2.381vw, 3rem);
}

h3 {
  @include fonts.textpreset6bold;
  color: var(--highlight-color);
}

section,
footer {
  padding: var(--section-spacing) 0;
}

blockquote {
  p {
    @include fonts.textpreset7semibold;
  }
}

.nav__list {
  display: flex;
  // flex-direction: column;
  gap: 1.5rem;
  position: relative;
  z-index: 900;
}

.nav__item {
  position: relative;
  a {
    text-decoration: none;
    color: var(--text-muted);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    bottom: -4px;
    left: 0;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

header {
  position: relative;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-height: 2.5rem;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      height: 2rem;
      width: auto;
    }
  }

  .nav-toggle {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    z-index: 1000;

    svg.close {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  }

  &:has(.main-nav.visible) {
    svg.close {
      visibility: visible;
      height: auto;
      position: relative;
    }
    svg.hamburger {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  }

  .navbar {
    position: relative;
    padding: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem) 0;

    &__contact-btn {
      visibility: hidden;
      height: 0;
      position: absolute;
    }

    &:has(.main-nav.visible) .navbar__contact-btn {
      visibility: visible;
      height: auto;
      position: static;
    }
  }

  .main-nav {
    visibility: hidden;
    position: absolute;
    font-size: 1.125rem;
  }

  .main-nav.visible {
    background-color: var(--bg-color);
    top: 0;
    right: -5vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    padding: 6rem 1.5rem 1.5rem;
    width: 75vw;
    visibility: visible;
    z-index: 800;

    .nav__list {
      flex-direction: column;
    }
  }
}

footer {
  text-align: center;
  .container {
    display: grid;
    justify-items: center;
  }
  .nav__list {
    flex-direction: row;
    justify-content: center;
  }
}

.hero {
  position: relative;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-sm-200), 0.6479rem + 1.5023vw, var(--space-400));
    text-align: center;
  }

  &__title {
    @include fonts.textpreset4;
    font-size: clamp(2.5rem, 1.1796rem + 5.6338vw, 6.25rem);
  }

  &__text {
    @include fonts.textpreset7semibold;
  }

  &__image {
    display: flex;
    transform: translateY(var(--section-spacing));
    width: 100%;
  }
}

.hero--about {
  .accent-bar {
    display: none;
  }
}

.features {
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    right: -100px;
    width: 200px;
  }

  &__title {
    max-width: 240px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item,
  .item__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

.testimonials {
  position: relative;
  padding-block: 150px;

  &__image--top {
    display: flex;
    left: 0;
    position: absolute;
    top: 0;
  }

  &__image--bottom {
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 5.25rem;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5.25rem;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs-100);

    blockquote {
      position: relative;

      svg {
        margin: 0 auto;
        position: absolute;
        left: calc(50% - 33px);
        top: -36px;
        width: 100%;
        z-index: -1;
      }
    }
  }

  &__author {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm-200);
    .author {
      &__title {
        @include fonts.textpreset8mediumitalic;
      }
      &__image {
        border-radius: 100vw;
        overflow: hidden;
        width: 6rem;
        border: 2px solid var(--highlight-color);
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: var(--space--xxs-025);
    }
  }
}

.cta {
  overflow: hidden;
  position: relative;
  padding: 80px 0;

  &__container {
    align-items: center;
    color: var(--primary-color-darker);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }

  &__title {
    @include fonts.textpreset5;
    max-width: 75%;
  }

  &__image {
    bottom: -22px;
    display: flex;
    left: 0;
    position: absolute;
  }
}

.clients {
  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 3.9808rem + -2.0513vw, 3.5rem);

    li img {
      height: 1.5rem;
      width: auto;
    }

    li:last-child img {
      height: 2.5rem;
    }
  }
}

.contact {
  /* General Form Styles */
  form {
    display: grid;
    grid-template-columns: 1fr;
  }

  button,
  input,
  textarea {
    font: inherit;
    width: 100%;
    cursor: pointer;
  }

  input,
  textarea {
    background: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.125rem;
    padding: 0.66667em 1.33334em;
    height: 3rem;
    caret-color: var(--text-color);
    color: inherit;
    font: inherit;

    &:focus-visible {
      outline: none;
      border-bottom: 2px solid var(--highlight-color);
    }

    &:hover {
      outline: none;
      border-color: var(--highlight-color);
    }

    &::placeholder {
      color: inherit;
      font: inherit;
      opacity: 0.6;
    }
  }

  textarea {
    height: calc(3lh + 1.4em); /* 3 line heights + vertical padding */
    resize: block;
  }

  // Specific styling
  .form-group {
    margin-bottom: 1.5rem;
  }

  /* Error state */
  .error-message {
    padding-top: 0.25rem;
    color: var(--rose-500);
    display: none;
  }

  .form-group:has(input:user-invalid),
  .form-group:has(textarea:user-invalid) {
    input,
    textarea {
      border-color: var(--rose-500);
      color: var(--rose-500);
    }

    .error-message {
      display: block;
    }
  }
}

.directors {
  &__title {
    margin-bottom: clamp(
      var(--space-xl-600),
      1.8603rem + 2.3774vw,
      var(--space-xxl-700)
    );
    text-align: center;
  }

  &__grid {
    display: grid;
    gap: var(--space-xl-600);
  }

  .director-card {
    min-height: 253px;
    position: relative;
    perspective: 1000px;

    &__inner {
      background-clip: padding-box;
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .front,
    .back {
      padding: var(--space-400) var(--space-150);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;

      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .back {
      padding: var(--space-400);
      text-align: center;
      transform: rotateY(180deg);

      .director-card__name {
        margin-bottom: var(--space-xs-100);
      }
    }

    &__avatar {
      height: 96px;
      width: auto;
      border: 2px solid var(--teal-400);
      border-radius: 100vw;
      margin-bottom: var(--space-sm-200);
    }

    &__title {
      @include fonts.textpreset7mediumitalic;
    }

    &__btn {
      align-items: center;
      background: var(--accent-color);
      border: none;
      border-radius: 100vw;
      bottom: -28px;
      cursor: pointer;
      display: flex;
      height: 56px;
      justify-content: center;
      left: calc(50% - 28px);
      position: absolute;

      transition:
        background-color 1s cubic-bezier(0.4, 0.2, 0.2, 1),
        transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
      width: 56px;
    }

    &__socials {
      display: flex;
      gap: var(--space-sm-200);
      margin-top: var(--space-sm-200);
    }

    &.flipped {
      .director-card__inner {
        transform: rotateY(180deg);
      }

      .director-card__btn {
        background: var(--highlight-color);
        transform: rotate(-45deg);
      }
    }
  }
}
footer {
  .nav__list {
    display: flex;
    gap: var(--space-lg-500);
  }
  .footer {
    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--space-md-300);

      p {
        @include fonts.textpreset7semibold;
        opacity: 0.6;
      }
    }

    &-nav {
      display: flex;
      flex-direction: column;
      gap: var(--space-md-300);
    }

    &__contact {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs-100);

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &__socials {
      display: flex;
      gap: var(--space-sm-200);
      margin: 0 auto;
    }
  }
}
@media (min-width: 48rem) {
  header {
    .nav-toggle {
      height: 0;
      visibility: hidden;
    }

    .navbar {
      font-size: 1rem;
      gap: clamp(
        var(--space-xl-600),
        0.7143rem + 4.7619vw,
        var(--space-xxxxl-1000)
      );
      justify-content: flex-start;

      &__contact-btn {
        visibility: visible;
        height: auto;
        position: static;
      }
    }

    .main-nav {
      display: flex;
      flex-direction: row;
      flex: 1;
      gap: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);
      position: relative;
    }

    .main-nav .nav__list {
      visibility: visible;
      height: auto;
      position: relative;
      display: flex;
      align-items: center;
      gap: 2.5rem;
      margin-right: auto;
    }

    .nav__item {
      a {
        color: var(--text-color);
      }
    }
  }

  .hero__text {
    max-width: 573px;
  }

  .hero__image {
    margin-left: auto;
    max-width: 358px;
  }

  .features {
    &__item {
      flex-direction: row;
    }

    .item__content {
      text-align: start;
    }

    &__title {
      max-width: 445px;
    }

    &__image {
      max-width: 200px;
    }
  }
  .testimonials {
    &__title {
      margin-inline: auto;
      max-width: 75vw;
    }
  }
  .cta__container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 917px;
  }
  .clients {
    &__list {
      flex-direction: row;
      justify-content: space-between;
      gap: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);

      li img {
        height: 1rem;
      }

      li:last-child img {
        height: 1.75rem;
      }
    }
  }
  .directors {
    &__grid {
      column-gap: clamp(
        var(--space-150),
        -0.8036rem + 2.9762vw,
        var(--space-lg-500)
      );
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 64rem) {
  header {
    .logo svg {
      height: 2.5rem;
    }
  }

  .hero {
    &__content {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
    }

    &__text {
      @include fonts.textpreset6semibold;
      max-width: 445px;
    }
  }

  .features {
    &__container {
      display: flex;
      gap: 7.75rem;
    }

    &__image {
      bottom: 0;
      top: auto;
    }

    ul[class] {
      margin-top: var(--space-400);
    }
  }

  .hero--about {
    .accent-bar {
      display: block;
    }
  }

  .testimonials__title {
    max-width: 932px;
  }
  .testimonials__list {
    flex-direction: row;
  }

  .cta__image {
    bottom: 0;
  }

  .clients {
    &__list {
      li img {
        height: 2.25rem;
      }

      li:last-child img {
        height: 2.75rem;
      }
    }
  }

  .directors {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
