@use "fonts";
@use "reset";
@use "sass:map";

:root {
  // COLORS
  --neautral-950: #000000;
  --neutral-50: #fafafa;
  --neutral-0: #ffffff;

  --teal-950: #002529;
  --teal-900: #012f34;
  --teal-850: #004047;
  --teal-800: #014e56;
  --teal-700: #2c6269;
  --teal-400: #79c8c7;

  --rose-500: #ff7f7f;
  --cyan-100: #c4fffe;

  --primary-color: var(--teal-950);
  --primary-hover: #1e40af;

  --accent-color: var(--rose-500);
  --accent-hover: #65a30d;

  --bg-color: var(--primary-color);
  --bg-secondary: #f9f9f9;
  --bg-tertiary: #f5f5f5;

  --text-color: var(--neutral-0);
  --text-secondary: #555;
  --text-muted: #666;

  --border-color: var(--neutral-0);
  --card-bg: #ffffff;
  --footer-bg: #111;
  --cta-bg: #1a1a1a;

  // CONTAINER
  --container-max-width: 70rem;
  --container-width: 90%;

  --section-spacing: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
  --card-padding: 1.5rem 2rem;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

section {
  padding: var(--section-spacing) 0;
}

p {
  color: var(--text-secondary);
}

.accent-text {
  color: var(--accent-color);
}

.btn {
  border: 2px solid var(--border-color);
  border-radius: 100vw;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.55;
  padding: 0.5em 2em;
  text-decoration: none;

  &:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
  }

  &--dark {
    background: var(--text-color);
    border-color: var(--primary-color);
    color: var(--primary-color);

    &:hover {
      background: var(--primary-color);
      color: var(--text-color);
    }
  }
}

header {
  position: relative;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-height: 2.5rem;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      height: 2rem;
      width: auto;
    }
  }

  .nav-toggle {
    position: absolute;
    right: 0;
    background: none;
    border: none;

    svg.close {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  }

  &:has(.main-nav.visible) {
    svg.close {
      visibility: visible;
      height: auto;
      position: relative;
    }
    svg.hamburger {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  }

  .navbar {
    position: relative;
    padding: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem) 0;
  }

  .main-nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1.125rem;
  }

  .main-nav.visible {
    background-color: var(--bg-secondary);
    visibility: visible;
    height: auto;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1.5rem 1.5rem;
    z-index: 1000;

    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;
    }
  }

  .nav__item {
    position: relative;
    a {
      text-decoration: none;
      color: var(--text-muted);
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: var(--accent-color);
      bottom: -4px;
      left: 0;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

footer {
  text-align: center;
}

.hero {
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__title {
    font-size: clamp(2rem, 1.1197rem + 3.7559vw, 4.5rem);
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.5px;
  }

  &__content {
    font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
    font-weight: 500;
    max-width: 65ch;
    letter-spacing: -0.1px;
  }
}

@media (min-width: 48rem) {
  header {
    .nav-toggle {
      height: 0;
      visibility: hidden;
    }

    .navbar {
      font-size: 1rem;
    }

    .main-nav {
      visibility: visible;
      height: auto;
      position: relative;
      display: flex;
      align-items: center;
      gap: clamp(3rem, 0.7143rem + 4.7619vw, 5rem);
    }

    .nav__list {
      display: flex;
      gap: 2.5rem;
      margin-right: auto;
    }

    .nav__item {
      a {
        color: var(--text-color);
      }
    }
  }
}

@media (min-width: 64rem) {
  header {
    .logo svg {
      height: 2.5rem;
    }
  }
}
