<section class="hero hero--about">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">About</h1>
      <p class="hero__text">
        <span class="accent-bar"></span>
        We help companies build dynamic teams made up of top global talent.
        Using our network of passionate professionals we drive innovation and
        deliver incredible outcomes. Talented, diverse teams shape the best
        products and experiences. We’ll bring those teams to you.
      </p>
    </div>
  </div>
  <div class="hero--about__image">
    {% include "svgs/bg-pattern-about-1-mobile-nav-1.svg" %}
  </div>
</section>
