<section class="clients darker-bg">
  <div class="container clients__container">
    <h2 class="clients__title">Some of our clients</h2>
    <ul class="clients__list">
      <li>
        <img
          src="{{ '/assets/images/logo-the-verge.png'  | url }}"
          alt="logo for The Verge"
        />
      </li>
      <li>
        <img
          src="{{ '/assets/images/logo-jakarta-post.png'  | url }}"
          alt="logo for The Jakarta Post"
        />
      </li>
      <li>
        <img
          src="{{ '/assets/images/logo-the-guardian.png'  | url }}"
          alt="logo for The Guardian"
        />
      </li>
      <li>
        <img
          src="{{ '/assets/images/logo-tech-radar.png'  | url }}"
          alt="logo for Tech Radar"
        />
      </li>
      <li>
        <img
          src="{{ '/assets/images/logo-gadgets-now.png'  | url }}"
          alt="logo for Gadgets Now"
        />
      </li>
    </ul>
  </div>
</section>
