<section class="contact">
  <div class="contact__image contact__image--top">
    {% include "svgs/bg-pattern-about-2-contact-1.svg" %}
  </div>
  <div class="container contact__container">
    <div class="contact__content">
      <h1 class="contact__title">Contact</h1>
      <h2 class="contact__subtitle accent-text">Ask us about</h2>
      <div class="contact__features">
        <div class="feature">
          <div class="feature__icon">{% include "svgs/icon-person.svg" %}</div>
          <p class="feature__text">The quality of our talent network</p>
        </div>
        <div class="feature">
          <div class="feature__icon">{% include "svgs/icon-cog.svg" %}</div>
          <p class="feature__text">Usage & implementation of our software</p>
        </div>
        <div class="feature">
          <div class="feature__icon">{% include "svgs/icon-chart.svg" %}</div>
          <p class="feature__text">How we help drive innovation</p>
        </div>
      </div>
    </div>
    <form id="contact-form">
      <div class="form-group">
        <input
          type="text"
          id="full-name"
          name="full-name"
          oninvalid="this.setCustomValidity('This field is required')"
          oninput="this.setCustomValidity('')"
          placeholder="Name"
          aria-label="Full name form field"
          autocomplete="name"
          required
        />
        <div class="error-message">This field is required</div>
      </div>

      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          oninvalid="this.setCustomValidity('Please enter a valid email address')"
          oninput="this.setCustomValidity('')"
          placeholder="Email Address"
          aria-label="Email address form field"
          autocomplete="email"
          required
        />
        <div class="error-message">This field is required</div>
      </div>

      <div class="form-group">
        <input
          type="text"
          id="company"
          name="company"
          oninvalid="this.setCustomValidity('This field is required')"
          oninput="this.setCustomValidity('')"
          placeholder="Company Name"
          aria-label="Company name form field"
          autocomplete="organization"
          required
        />
        <div class="error-message">This field is required</div>
      </div>

      <div class="form-group">
        <input
          type="text"
          id="title"
          name="title"
          oninvalid="this.setCustomValidity('This field is required')"
          oninput="this.setCustomValidity('')"
          placeholder="Title"
          aria-label="Company title form field"
          autocomplete="organization-title"
          required
        />
        <div class="error-message">This field is required</div>
      </div>

      <div class="form-group">
        <textarea
          name="message"
          id="message"
          oninvalid="this.setCustomValidity('This field is required')"
          oninput="this.setCustomValidity('')"
          placeholder="Message"
          aria-label="Message form field"
          required
        ></textarea>
        <div class="error-message">This field is required</div>
      </div>

      <button
        class="btn btn--solid"
        type="submit"
      >
        submit
      </button>
    </form>
  </div>
  <div class="contact__image contact__image--bottom">
    {% include "svgs/bg-pattern-contact-2.svg" %}
  </div>
</section>
