<section class="directors bg-dark">
  <div class="directors__image directors__image--top">
    {% include "svgs/bg-pattern-about-2-contact-1.svg" %}
  </div>
  <div class="container directors__container">
    <h2 class="directors__title">Meet the directors</h2>
    <div class="directors__grid">
      {% for director in site.directors %}
        <div class="director-card">
          <div class="director-card__inner darker-bg">
            <div class="front">
              <img
                src="{{ ('/assets/images/' + director.img) | url }}"
                alt="Photo of {{ director.name }}"
                class="director-card__avatar"
              />

              <div class="director-card__info">
                <h3 class="director-card__name">{{ director.name }}</h3>
                <p class="director-card__title">{{ director.title }}</p>
              </div>
            </div>

            <div class="back">
              <h3 class="director-card__name">{{ director.name }}</h3>
              <blockquote class="director-card__quote">
                <p>"{{ director.quote }}"</p>
              </blockquote>
              <ul class="director-card__socials">
                <li>{% include "svgs/icon-twitter.svg" %}</li>
                <li>{% include "svgs/icon-linkedin.svg" %}</li>
              </ul>
            </div>
            <button class="director-card__btn">
              {% include "svgs/icon-cross.svg" %}
            </button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="directors__image directors__image--bottom">
    {% include "svgs/bg-pattern-home-4-about-3.svg" %}
  </div>
</section>
