<section class="features darker-bg">
  <div class="container features__container">
    <h2 class="features__title section-title">
      Build & manage distributed teams like no one else.
    </h2>
    <ul class="features__list">
      <li class="features__item">
        <div class="item__icon">{% include "svgs/icon-person.svg" %}</div>
        <div class="item__content">
          <h3 class="accent-text">Experienced Individuals</h3>
          <p>
            Our network is made up of highly experienced professionals who are
            passionate about what they do.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="item__icon">{% include "svgs/icon-cog.svg" %}</div>
        <div class="item__content">
          <h3 class="accent-text">Easy to Implement</h3>
          <p>
            Our processes have been refined over years of implementation meaning
            our teams always deliver.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="item__icon">{% include "svgs/icon-chart.svg" %}</div>
        <div class="item__content">
          <h3 class="accent-text">Enhanced Productivity</h3>
          <p>
            Our customized platform with in-built analytics helps you manage
            your distributed teams.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
