<section class="features">
  <div class="container features__container">
    <h2 class="features__title">
      Build & manage distributed teams like no one else.
    </h2>
    <ul class="features__list">
      <li class="features__item">
        <h3>Experienced Individuals</h3>
        <p>
          Our network is made up of highly experienced professionals who are
          passionate about what they do.
        </p>
      </li>
      <li class="features__item">
        <h3>Easy to Implement</h3>
        <p>
          Our processes have been refined over years of implementation meaning
          our teams always deliver.
        </p>
      </li>
      <li class="features__item">
        <h3>Enhanced Productivity</h3>
        <p>
          Our customized platform with in-built analytics helps you manage your
          distributed teams.
        </p>
      </li>
    </ul>
  </div>
</section>
