<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Find the
        <br />
        best
        <span class="accent-text">talent</span>
      </h1>
      <p class="hero__text">
        Finding the right people and building high performing teams can be hard.
        Most companies aren’t tapping into the abundance of global talent. We’re
        about to change that.
      </p>
    </div>
    <div class="hero__image">{% include "svgs/bg-pattern-home-2.svg" %}</div>
  </div>
</section>
