<footer class="bg-very-dark">
  <div class="container footer__container">
    <nav class="footer-nav">
      <a
        href="{{ '/' | url }}"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        {% include "svgs/logo.svg" %}
      </a>
      <ul class="nav__list">
        {% for item in site.navigation %}
          <li class="nav__item">
            <a href="{{ item.url | url }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="footer__contact">
      <p>{{ site.contact.address.street1 }}</p>
      <p>{{ site.contact.address.city }}, {{ site.contact.address.state }}</p>

      <p>{{ site.contact.address.postal_code }}</p>
      <p>
        Call Us:
        <a href="{{ ('tel:+1&#8209;' + site.contact.phone) }}">
          {{ site.contact.phone }}
        </a>
      </p>
    </div>
    <ul class="footer__socials">
      <li class="footer__socials__item">
        <a
          href="https://www.facebook.com"
          target="_blank"
          aria-label="Visit our Facebook page"
        >
          {% include "svgs/icon-facebook.svg" %}
        </a>
      </li>
      <li class="footer__socials__item">
        <a
          href="https://www.pinterest.com"
          target="_blank"
          aria-label="Visit our Pinterest page"
        >
          {% include "svgs/icon-pinterest.svg" %}
        </a>
      </li>
      <li class="footer__socials__item">
        <a
          href="https://www.twitter.com"
          target="_blank"
          aria-label="Visit our Twitter page"
        >
          {% include "svgs/icon-twitter.svg" %}
        </a>
      </li>
    </ul>

    <p class="footer__copyright">Copyright 2026. All Rights Reserved</p>
  </div>
</footer>
