<header>
  <div class="container">
    <div class="navbar">
      <nav
        class="main-nav"
        aria-label="main"
      >
        <a
          href="{{ '/' | url }}"
          class="logo"
          aria-label="{{ site.name }} - home"
        >
          {% include "svgs/logo.svg" %}
        </a>
        <ul class="nav__list">
          {% for item in site.navigation %}
            <li class="nav__item">
              <a href="{{ item.url | url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <a
        href="/contact"
        class="btn"
      >
        Contact Us
      </a>
      <button class="nav-toggle">
        {% include "svgs/icon-hamburger.svg" %}
        {% include "svgs/icon-close.svg" %}
      </button>
    </div>
  </div>
</header>
