<section class="testimonials">
  <div class="testimonials__image--top">
    {% include "svgs/bg-pattern-home-4-about-3.svg" %}
  </div>
  <div class="container testimonials__container">
    <h2 class="testimonials__title section-title">
      Delivering real results for top companies. Some of our
      <span class="highlight-text">success stories.</span>
    </h2>
    <ul class="testimonials__list">
      {% for testimonial in site.testimonials %}
        <li class="testimonials__item">
          <blockquote>
            {% include "svgs/icon-quotes.svg" %}
            <p class="testimonials__text">"{{ testimonial.text }}"</p>
          </blockquote>
          <footer class="testimonials__author">
            <cite class="testimonials__author__text">
              <h3 class="author__name highlight-text">
                {{ testimonial.author.name }}
              </h3>
              <p class="author__title">{{ testimonial.author.title }}</p>
            </cite>
            <div class="author__image">
              <img
                src="{{ ('/assets/images/' + testimonial.author.img ) | url }}"
                alt="photo of {{ testimonial.author.name }}"
                class=""
              />
            </div>
          </footer>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="testimonials__image--bottom">
    {% include "svgs/bg-pattern-home-5.svg" %}
  </div>
</section>
