<section class="testimonials">
  <div class="container testimonials__container">
    <h2 class="testimonials__title section-title">
      Delivering real results for top companies. Some of our
      <span class="highlight-text">success stories.</span>
    </h2>
    <div class="testimonials__list">
      {% for testimonial in site.testimonials %}
        <div class="testimonials__item">
          <blockquote>
            {% include "svgs/icon-quotes.svg" %}
            <p class="testimonials__text">"{{ testimonial.text }}"</p>
          </blockquote>
          <div class="testimonials__author">
            <div class="testimonials__author__text">
              <h3 class="author__name highlight-text">
                {{ testimonial.author.name }}
              </h3>
              <p class="author__title">{{ testimonial.author.title }}</p>
            </div>
            <div class="author__image">
              <img
                src="{{ ('/assets/images/' + testimonial.author.img ) | url }}"
                alt="photo of {{ testimonial.author.name }}"
                class=""
              />
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
